

#header{
    background-color: #5568af;
}

#CL-1{
    background-color: #e8ee78 !important;
}

#App-1{
    background-color: #ceeaee;
}

#LegCard-1{
    background-color: #ed72a7;;
}

#LegCard-2{
    color: #fff;
}

#icon{
    background-color: #cdd629;
}

#CL-3{
    color: #8f55af;
}

#card-text{
    color: #8f55af;
}

#LS-2{
    color: #5568af;
}