@tailwind base;
@tailwind components;
@tailwind utilities;

#report-btn {
  background-color: #9049a4 !important;
}

#track-btn {
  background-color: #9049a4 !important;
}

/* #subsect-btn {
    color: black;
} */

#subsect-btn {
  /* background-color: #909090 !important; */
  color: black
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
